/* Add your styles here */

.app-logo {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin-inline-start: var(--vaadin-padding-inline-container);
}

.app-name {
    font-weight: var(--aura-font-weight-semibold);
    font-size: var(--aura-font-size-l);
}

.app-footer {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-s);
}

/* TODO: This is only for demo purposes. You can delete it. */
vaadin-side-nav:has(vaadin-side-nav-item:only-child)::after {
    display: block;
    content: "More menu items will appear here when you add more views.";
    font-size: var(--aura-font-size-s);
    color: var(--vaadin-text-color-secondary);
    box-sizing: border-box;
    padding: 1em;
    max-width: 14em;
    min-width: 100%;
    white-space: normal;
}